node_modules
.DS_Store
dist
dist-ssr
*.local

echo "# rentapp" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Finalcloud123/rentapp.git
git push -u origin main